<%- include title.ejs %>
Service Broker - General Settings
<%- include header.ejs %>

<h4>General</h4>
<hr>
   
<% 
var vendor = database.valueForKey("settings", "vendor-name"); 
var guid   = database.valueForKey("settings", "vendor-guid"); 
%>

<form role="form" action="/general" method="post">
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" name="name" value="<%= vendor %>">
	</div>
	<table style="width:100%">
		<tr>
			<td>
			  	<div class="form-group">
					<label>GUID</label>
					<input class="form-control" name="guid" id="broker-guid" value="<%= guid %>">
			 	</div>
			</td>
			<td align="right" valign="middle" style="width:90px">
				<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('broker-guid')">
					Generate
				</button>
			</td>
		</tr>
	</table>
	<div align="right">
		<a href="general" class="btn btn-danger" style="width:86px">Revert</a>
		<button type="submit" class="btn btn-primary" style="width:86px">Save</button>
	</div>
</form>

<%- include footer.ejs %>